h1, h2 {
	color: #000;
}

.menu-top.light-theme {
  border-bottom: 0;
}

.user-list, .item-list {
	list-style-type: none;
}

.user-list li {
	margin-bottom: 1em;
}

.item-list img, .item {
	width: 100px;
}

.item-list li, .item-detail li {
	margin-bottom: 2em;
}

.yellow-bg {
	background-color: #ffc400;
}

.purple-bg {
	background-color: #3A015C;
}

.blue-bg {
	background-color: #0336ff;
}

.red-bg {
	background-color: #f40000;
}

.home-bg {
	background-image: url('../img/headphones.jpeg')
}
