<!DOCTYPE html>
<head>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/header %>
	<div class="bg page-header yellow-bg">
		<div class="container">
			<h1>Error</h1>
		</div>
	</div>
	<main class="section">
		<div class="container">
			<p><%= message %></p>
		</div>
	</main>
	<% include ../partials/footer %>
</body>