<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
<script src="/scripts/scripts.js"></script>
<footer class="footer yellow-bg">
	<div class="container">
    <p>
      Copyright 2018 Alberta Williams
    </p>
  </div>
</footer>