<div class="menu menu-horizontal menu-top light-theme transparent">
	<div class="container">
    <ul class="nav-left">
      <li><a href="/">Home</a></li>
      <li><a href="/items">Game Store</a></li>
    </ul>
   </div>
</div>
